:root {
  --color-brand: #819b57;
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261A;
  --color-brand-dark: #465929;
  
}
.body {
  color: var(--color-primary-dark);
}
ul {
  list-style-type: none;
}

.button-order {
  color: var(--color-primary-light);
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
  border-radius: 8px;
  cursor: pointer;
}

.button-order:hover {
  color: var(--color-brand);
  background-color: transparent;
}

.link {
  color: var(--color-primary-light);
}

.link:hover {
  color: var(--color-brand);
}

.hero-title {
  color: var(--color-primary-light);
}

.hero-title .accent {
  color: var(--color-brand);
}

.accent {
  color: var(--color-brand-dark)
}

.advantages-list {
  color: var(--color-primary-light);
  background-color: var(--color-brand);
}
 
.accent-text {
  color: var(--color-brand);
}